@import "font.css";

@media (orientation: landscape) {
    body {
        padding-left: 25%;
        padding-right: 25%;
        padding-bottom: 5%;
    }

    body > *:not(h1, h2, h3, h4, h5, h6) {
        font-size: 125%;
    }
}

@media (orientation: portrait) {
    body {
        padding: 5%;
    }

    body > *:not(h1, h2, h3, h4, h5, h6) {
        font-size: 110%;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #f3f3f3;
}

a {
    color: #8f062b;
}


hr {
    color: #909898;
}

#site-header {
    padding-left: 5%;
    display: flex;
    align-items: center;
}

#site-name {
    font-size: 25px;
    padding-right: 10%;

    position: relative;
    font-family: "JetBrainsMono-ExtraBold", Arial, monospace;
}

#site-name > u {
    text-decoration-thickness: 3px;
}

.navbar {
    font-size: 20px;
    padding-right: 30px;
}

#footer-hr {
    margin-top: -10px;
    margin-bottom: 15px;
}

footer {
    text-align: center;
    font-size: 15px;
}

img {
    margin: auto;
    display: block;
}
