@import "highlight.min.css";

#post-header {
    display: flex;
    justify-content: space-between;
}

#metadata {
    text-align: right;
    display: inline-block;
    align-self: flex-end;
}

#title {
    display: inline-block;
    align-self: flex-end;
}

hr {
    margin-top: 25px;
    margin-bottom: 25px;
}

#title-hr {
    margin-top: -10px;
}

/*TODO: Improve*/
code {
    border: 1px solid #909898;
    border-radius: 10px;
    background-color: #9d1212;
}
